#searcherEditHeader ($customField.id $customField.name)

<input type="text"
       name="$customField.id"
       value="$textutils.htmlEncode($!value)"
       id="$customField.id"
       class="standardInputField"
       #if ($configs.styles.style) style="$configs.styles.style" #end
       />

 <script language="JavaScript">

   function moveDown(customfieldid, key, next)
    {
        var cf = document.getElementById(customfieldid);
        var cfVal = cf.value;
        var keys = cfVal.split(",");
        var newList = new Array(keys.length - 1);
        var curVal;
        var pos = 0;
        for (var i = 0 ; i < keys.length ; i++)
        {
            curVal = trim(keys[i]);
            if (curVal != key)
            {
                newList[pos] = curVal;
                pos++;
                if (curVal == next)
                {
                    newList[pos] = key;
                    pos++;
                }
            }else
            {
                if (next == '')
                {
                    newList[pos] = trim(keys[i+1]);
                    pos++;
                    newList[pos] = key;
                    pos++;
                    i++;
                }
            }

        }
        cf.value = newList.join(", ");
        document.filterform.submit();


    }

    function moveUp(customfieldid, key, prev)
    {
        var cf = document.getElementById(customfieldid);
        var cfVal = cf.value;
        var keys = cfVal.split(",");
        var newList = new Array(keys.length - 1);
        var curVal;
        var tempVal;

        var pos = 0;
        for (var i = 0 ; i < keys.length; i++)
        {
            curVal = trim(keys[i]);

            if (curVal == prev )
            {
                newList[pos] = key;
                pos++;
            }
            if (curVal != key)
            {
                newList[pos] = curVal;
                pos++;
            }else
            {
                if (prev == '')
                {
                    newList[pos] = newList[pos-1]
                    newList[pos-1] = curVal;
                    pos++;
                }
            }


        }
        cf.value = newList.join(", ");
        document.filterform.submit();


    }
    function trim(str)
    {
        return str.replace(/^\s*|\s*$/g,"");
    }

    function removeKey(customfieldid, key)
    {
        var cf = document.getElementById(customfieldid);
        var cfVal = cf.value;
        var keys = cfVal.split(",");
        var newList = new Array(keys.length - 1);
        var curVal;

        var pos = 0;
        for (var i = 0 ; i < keys.length; i++)
        {
            curVal = trim(keys[i]);

            if (curVal != key )
            {
                newList[pos] = curVal;
                pos++;
            }


        }
        cf.value = newList.join(", ");
        document.filterform.submit();


    }
</script>

#searcherEditFooter ($customField.id $customField.description)